<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't rented anything yet!" if @user.bookings.empty? %></em></small></span>
    <div>
    </div>
  </div>
  <div class="row my-2">
  <h2>My Products:</h2>


<div class="container">
    <div class="row row-cols-4">
      <% @gears.each do |gear| %>
        <div class="col">
          <div class="card my-4 shadow " style="width: 18rem;, height: 20rem;">
            <div id="carousel<%= gear.id %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% gear.photos.each_with_index do |photo, i| %>
                  <div class="shadow carousel-item <%= 'active' if i == 0 %>">
                    <%= image_tag photo.url, class: 'd-block w-100', alt: "Gear Photo" %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= gear.id %>" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel<%= gear.id %>" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= gear.title %></h5>
              <p class="card-text"><%= gear.description %></p>
              <hr>
            <ul class=" list-group list-group-horizontal justify-content-end rounded">
              <li class="list-group-item shadow-sm p-1 mb-2 me-2 ms-2 bg-body-tertiary rounded "><i class="fa-solid fa-dollar-sign"></i><%= gear.rate_per_day %></li>
            </ul>
              <a href="/gears/<%= gear.id %>" class="btn btn-outline-primary rounded">Rent Now</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <hr class="my-5">
    <div class="row my-2">
      <h2>My Bookings:</h2>
    <% @user.bookings.each do |booking| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%# <%= image_tag gea.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= booking.gear.title %> <span class="text-muted font-weight-normal">• <%= booking.gear.category %> <i class="fas fa-star star-yellow"></i></span></strong>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fa-solid fa-euro-sign"></i><small class="flex-grow-1"> 20</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
      </div>
    </div>
  </div>
</div>
