<nav class="card bg-white navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid mb-2 mt-2">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
       <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-water me-1 text-secondary"></i>WaveRent</a>
        </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/<%= current_user.id %>">Dashboard</a>
        </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Surf Gear
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Boards</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Uniforms</a></li>
          </ul>
        </li>
      </ul>
        <% if current_user %>
          <%= link_to "New Gear", new_gear_path, class:"me-5 btn btn-success" %>
        <% end %>
        <div class="col-sm-8 my-3">
          <%= form_with url: gears_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search for Gear"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% if current_user %>
        <%= link_to "Sign out", destroy_user_session_path,data: {turbo_method: :delete}, class:"ms-5 btn btn-primary" %>
        <% end %>
    </div>
  </div>
</nav>
