<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
        <p class="display-3">WaveRent</p>
    <% end %>
      <div class="container-fluid search">
        <%= form_with url: gears_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Search for Gear"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Rent Your Gear!", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <div class="container-avatar" id="navbarDropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" aria-current="page" href="/users/<%= current_user.id %>">Dashboard</a>
              <%= link_to "My Gear", "#", class: "dropdown-item " %>
              <%= link_to "My Bookings", "#", class: "dropdown-item " %>
              <%= link_to "Account Settings", "#", class: "dropdown-item" %>
              <%= link_to "Sign out", destroy_user_session_path,data: {turbo_method: :delete}, class:"qms-5 qbtn qbtn-primary dropdown-item" %>
            </div>
              <h4 ><%= current_user.email.to_s.split('@')[0] %></h4>
            </div>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
