<nav class="navbar navbar-expand-lg shadow-lg p-3 mb-3 bg-body-tertiary rounded">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<a class="nav-link active" aria-current="page" href="/">
  <%= image_tag("logo.png", height: 100, width: 100,style: "border-radius: 50%;") %>
</a>      <div class="col-sm-8 my-3">
        <%= form_with url: gears_path, method: :get, class: "justify-content-end px-5 d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "px-4",
                placeholder: "Search for Gear"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <a class="nav-link active" aria-current="page" href="/users/<%= current_user.id %>">
      <% if current_user.photo.present? %>
        <div class="d-flex">
          <div class="dropdown">
            <span><%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill ,style: "border-radius: 50%;", class: "shadow  bg-body-tertiary me-3"%>
            </span>
            <div class="dropdown-content">
              <%= link_to "Add Gear", new_gear_path, class:"text-decoration-none link-body-emphasis" %>
              <hr>
              <%= link_to "Sign out", destroy_user_session_path,data: {turbo_method: :delete}, class:"text-decoration-none link-body-emphasis" %>
            </div>
          </div>
          </div>
          <p class="d-flex"><%= current_user.email %></p>
      <%else%>
          <div class="d-flex">
        <%= cl_image_tag "twh96ztaabtvaahrq8t1", height: 100, width: 100, crop: :fill ,style: "border-radius: 50%;", class: "shadow  bg-body-tertiary me-3"%>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>


