
<div class="container-index bg-colour">
  <p class="display-1">Welcome to WaveRent!</p>
   <h3>A place for you to hire surf gear</h3>
</div>

<div class="container bg-colour">
  <h4>Gear close to you</h4>
</div>

<div class="cards-container bg-colour">
  <div class="cards">
    <% @gears.each do |gear| %>
      <div class="card-gear">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <%# <%= image_tag Faker::LoremFlickr.image%>
          <%# <img src="<%=Faker::LoremFlickr.image%>
        <div class="card-gear-infos">
          <div>
            <h2><%= link_to gear.title, gear_path(gear) %></h2>
            <p><%= gear.description%></p>
          </div>
          <h2 class="card-gear-pricing">£99.99</h2>
          <img src="<%=Faker::Avatar.image%>" class="card-trip-user avatar-bordered" />

        </div>
      </div>
    <% end %>
  </div>
  <div id="pagination">
    <%= render 'shared/pagination', pagy:@pagy %>
  </div>
  <%= link_to "Create a new Gear Listing", new_gear_path, class: "btn btn-primary" %>
</div>


<% #below is the map html, @frontend: feel free to move this where fit,it is just slammed there all ugly for now %>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
