<div class="container-index bg-colour">
  <p class="display-1 white">Welcome to <span class="display-1"> WaveRent!<span></p>
  <h3>The place for <span id="yellow">you</span> to <span id="yellow">hire</span> <span id="blue">surf gear</span> <span></h3>
</div>

<div class="container bg-colour">
  <h4 class="h4-gear">Gear close to you</h4>
</div>
<div class="map">
  <div style="width: 40%; height: 560px; align-items: center; justify-content: center; box-shadow: 16px 16px 0px rgba(210, 238, 246, 0.4);"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<div class="container">
    <div class="row row-cols-4">
      <% @gears.each do |gear| %>
        <div class="col">
          <div class="card my-4 shadow " style="width: 18rem;, height: 20rem;">
            <div id="carousel<%= gear.id %>" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% gear.photos.each_with_index do |photo, i| %>
                  <div class="shadow carousel-item <%= 'active' if i == 0 %>">
                    <%= image_tag photo.url, class: 'd-block w-100', alt: "Gear Photo" %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carousel<%= gear.id %>" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel<%= gear.id %>" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <a href="/gears/<%= gear.id %>" class="card-link text-decoration-none">
              <div class="card-body ">
                <h5 class="card-title"><%= gear.title %></h5>
                <p class="card-text"><%= gear.description %></p>
                <hr>
              <ul class=" list-group list-group-horizontal justify-content-end rounded">
                <li class="list-group-item shadow-sm p-1 mb-2 me-2 ms-2 bg-body-tertiary rounded "><i class="fa-solid fa-dollar-sign"></i><%= gear.rate_per_day %></li>
              </ul>
                <a href="/gears/<%= gear.id %>" class="btn btn-outline-primary rounded">Info</a>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<div class="carousel-index">
  <%= render 'shared/carousel' %>
</div>


<% #below is the map html, @frontend: feel free to move this where fit,it is just slammed there all ugly for now %>
