<h1>Gears#show</h1>
<p>Find me in app/views/gears/show.html.erb</p>


<div class='d-flex align-items-center justify-content-between mb-3'>
  <h2><%= @gear.model %></h2>
  <p><%= @gear.brand %></p>
  <p><%= @gear.model %></p>
  <p><%= @gear.size %></p>
  <p><%= @gear.rate_per_day %></p>
</div>
