<br>
<h1></h1>


<div class='d-flex flex-column align-items-center justify-content-center mb-3'>
  <h2><%= @gear.title %></h2>
  <p>Brand:<%= @gear.brand %></p>
  <p>Model:<%= @gear.model %></p>
  <p>Size:<%= @gear.size %></p>
  <p>Only<%= @gear.rate_per_day %> $</p>
  <%= link_to "Book this Item", new_gear_booking_path(@gear), class: "btn btn-outline-success mb-3 shadow p-3 bg-body-tertiary rounded" %>
</div>

