<div class="container relative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card shadow-lg p-3 mb-3 bg-body-tertiary rounded">
        <h2><%= @gear.title %></h2>
        <p><%= @gear.brand %></p>
      </div>
      <div class="flat-show-card shadow-lg p-3 mb-3 bg-body-tertiary rounded">
        <h3>A bit more about this flat...</h3>
        <p><%= @gear.model %></p>
        <div class="map">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
              </div>
      </div>
    </div>
    <div id="sticky" class="col-4 py-3 ">
      <form class="card shadow-lg p-3 mb-3 bg-body-tertiary rounded" action="/book" method="POST">
        <div class="card mb-3">
          <label class="form-label"for="from-date">From:</label>
          <input class="form-control"type="date" id="from-date" name="from-date" required>
        </div>
        <div class="card mb-3">
          <label class="form-label" for="to-date">To:</label>
          <input class="form-control" type="date" id="to-date" name="to-date" required>
        </div>
      <button class="btn btn-primary" type="submit">Book now!</button>
    </form>
    <div class="flat-show-card shadow-lg p-3 mb-3 bg-body-tertiary rounded">
      <div class="flex">
        <h4>Share</h4>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-square-pinterest"></i></a>
      </div>
    </div>
    </div>
    </div>
</div>
