<!DOCTYPE html>
<html>
  <head>
    <title>WaveRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Dongle:wght@300;400;700&family=Orelega+One&display=swap" rel="stylesheet">
    <link href="app/assets/stylesheets/application.scss" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    </head>

  <body>
    <%= render 'shared/flashes' %>
  <div class="sticky-top navbar-design">
    <%= render 'shared/navbar' %>
  </div>
    <% if user_signed_in? %>
        <% if current_user.photo.present? %>
          <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill ,style: "border-radius: 50%;"%>
        <% else %>
          <%= cl_image_tag "twh96ztaabtvaahrq8t1", height: 100, width: 100, crop: :fill ,style: "border-radius: 50%;"%>
        <% end %>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
