<!DOCTYPE html>
<html>
  <head>
    <title>WaveRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="app/assets/stylesheets/application.scss" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

  <body>
    <%= render 'shared/flashes' %>
  <div class="sticky-top navbar-design">
    <%= render 'shared/navbar' %>
  </div>
    <% if user_signed_in? %>
    <div class="info d-flex justify-content-end">
        <h4 ><%= current_user.email %></h4>
      </div>
        <%= render 'shared/carousel' %>
          <% end %>
          <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
