<!DOCTYPE html>
<html>
  <head>
    <title>WaveRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="app/assets/stylesheets/application.scss" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

  <body>
    <%= render 'shared/flashes' %>
  <div class="sticky-top navbar-design">
    <%= render 'shared/navbar' %>
  </div>
    <% if user_signed_in? %>
    <div class="info d-flex justify-content-end">
      <div class="container">
        <% if current_user.photo.present? %>
          <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill ,style: "border-radius: 50%;"%>
        <% else %>
          <%= cl_image_tag "twh96ztaabtvaahrq8t1", height: 100, width: 100, crop: :fill ,style: "border-radius: 50%;"%>
        <% end %>
      </div>
        <h4 ><%= current_user.email %></h4>
    </div>
    <% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
